header {
    color:blueviolet;
    background-color: aqua;
    text-align: center;


}

main {
    background-color:lightgrey;
    padding: 1em;
    text-align: center;

    
}

body {
    background-image: url("record.png");
    background-color: deepskyblue;
    background-repeat:repeat;
    margin: 0;
    
}